# Dependencies
node_modules
npm-debug.log*

# Build output
.next
dist

# Dev environment files
.env
.env.local
*.env

# Git
.git
.gitignore

# OS
.DS_Store
Thumbs.db

# IDE
.vscode
.cursor
*.tsbuildinfo
